fastapi
uvicorn
python-multipart
pydantic

numpy
pandas
scikit-learn

tensorflow

opencv-python
Pillow

librosa
soundfile

transformers
sentence-transformers

faiss-cpu
pypdf

langchain
langchain-community
langchain-text-splitters

ddgs

python-dotenv
requests
tqdm